<div ng-init="getBook()">
    <div class="row">
        <div class="brick lbl">
            Name:
        </div>
        <div class="brick">
            <input type="text" ng-model="book.nm"/>
        </div>
    </div>
    <div class="row">
        <div class="brick lbl">
            Author:
        </div>
        <div class="brick">
            <input type="text" ng-model="book.aut"/>
        </div>
    </div>
    <div class="row">
        <div class="brick lbl">
            Genre:
        </div>
        <div class="brick">
            <input type="text" ng-model="book.gnr"/>
        </div>
    </div>
    <div class="row">
        <div class="brick lbl">
            Upload file:
        </div>
        <div class="brick">
            <input type="file" accept="application/pdf"
                   onchange="angular.element(this).scope().setFile(this.files)"/>
        </div>
    </div>
    <input type="button" ng-click="saveBook()" value="Add Book">
</div>