<div ng-init="getBook()">
    <div class="row">
        <div class="brick lbl">
            Name:
        </div>
        <div class="brick">
            <input type="text" ng-model="book.nm"/>
        </div>
    </div>
    <div class="row">
        <div class="brick lbl">
            Author:
        </div>
        <div class="brick">
            <input type="text" ng-model="book.aut"/>
        </div>
    </div>
    <div class="row">
        <div class="brick lbl">
            Genre:
        </div>
        <div class="brick">
            <input type="text" ng-model="book.gnr"/>
        </div>
    </div>
    <div>
        <a href="{{book.dwn}}">Download</a>
    </div>
    <input type="button" ng-click="editBook()" value="Edit Book">
    <input type="button" ng-click="deleteBook()" value="Delete Book">
    <input type="button" ng-click="backToMain()" value="Back To Main Page">
</div>