<div ng-init="getBook()">
    <div>
        Name: {{book.nm}}
    </div>
    <div>
        Author: {{book.aut}}
    </div>
    <div>
        Genre: {{book.gnr}}
    </div>
    <div>
        <a href="{{book.dwn}}">Download</a>
    </div>
    <input type="button" ng-click="backToMain()" value="Back To Main Page">
    <input type="button" ng-click="addToBookCart()" value="Add To Book Cart">
</div>