<div>
    <div class="row">
        <div class="brick lbl">
            Login:
        </div>
        <div class="brick">
            <input type="text" ng-model="currentUser.nm"/>
        </div>
    </div>
    <div class="row">
        <div class="brick lbl">
            Password:
        </div>
        <div class="brick">
            <input type="password" ng-model="currentUser.psw"/>
        </div>
    </div>
    <input type="button" ng-click="logIn()" value="Log In">
</div>