<div ng-init="getHeader()" ng-include="header"/>
<div ng-init="getAllBooks()">
    <div class="row">
        <div class="brick lbl">
            Search by Name
        </div>
        <div class="brick">
            <input type="text" ng-change="searchByName()" ng-model="searchedName"/>
        </div>
    </div>
    <div class="row">
        <div class="brick lbl">
            Search by Author
        </div>
        <div class="brick">
            <input type="text" ng-change="searchByAuthor()" ng-model="searchedAuthor"/>
        </div>
    </div>
    <div class="row">
        <div class="brick lbl">
            Search by Genre
        </div>
        <div class="brick">
            <input type="text" ng-change="searchByGenre()" ng-model="searchedGenre"/>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in books">
            <td>{{book.nm}}</td>
            <td>{{book.aut}}</td>
            <td>{{book.gnr}}</td>
            <td>
                <a href="" ng-click="setBookForView(book)">Show</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>