<div>
    <div class="row">
        <div class="brick lbl">
            Enter your Login:
        </div>
        <div class="brick">
            <input type="text" ng-model="user.nm"/>
        </div>
    </div>
    <div class="row">
        <div class="brick lbl">
            Enter your password:
        </div>
        <div class="brick">
            <input type="password" ng-model="user.psw"/>
        </div>
    </div>
    <input type="button" ng-click="signIn()" value="Sign In">
</div>