<div ng-init="getCurrentUser()">
    <div>
        Name: {{currentUser.nm}}
    </div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in currentUser.books">
            <td>{{book.nm}}</td>
            <td>{{book.aut}}</td>
            <td>{{book.gnr}}</td>
            <td>
                <a href="" ng-click="setBookForView(book)">Show</a>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="button" ng-click="backToMain()" value="Back To Main Page">
</div>