table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

input[type="button"] {
    margin-bottom: 5px;
    margin-top: 5px;
}

.row {
    clear: both;
    display: inline-block;
    width:100%;
    margin-bottom: 5px;
}

.brick {
    text-align: left;
    float: left;
}

.lbl {
    width: 140px;
    height: 22px;
    line-height: 22px;
}

.row .brick input[type="text"],
.row .brick input[type="password"],
.row .brick input[type="file"],
.row .brick select {
    width: 150px;
}